


/* @import './setup/var.css';

@import './basic/bace.css';
@import './basic/forms.css'; */

/* Components */
@import './cmps/AppHeader.css';
@import './cmps/UserMsg.css';
@import './cmps/CoinPrices.css';
@import './cmps/MarketNews.css';
@import './cmps/AIInsight.css';
@import './cmps/CryptoMeme.css';
@import './cmps/VotingButtons.css';




/* Pages */
@import './pages/LoginPage.css';
@import './pages/SignupPage.css';
@import './pages/Dashboard.css';


@import './setup/var.css';

@import './basic/bace.css';
@import './basic/forms.css';