

.app-header{
    background-color: var(--bg-header);
    padding: 0.2rem;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h1{ 
    color: var(--text-secondary);
    font-size: 2.3rem;
    margin-left:20px ; 
}
/* 
.app-header a{
    text-decoration: none;
} */

.app-header button{
    margin-right: 10px;
}