

.onboarding-page form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
}

.onboarding-page fieldset{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 500px;
}

.onboarding-page button{
    align-self: center;
}
